@using Common.Enum
@model ApplicationsViewModel;

@{
    ViewData["Title"] = "Заявки";
}


<div class="container">
    <form id="filtersForm" asp-action="Applications" asp-controller="Applications" method="post">
        <div class="card mb-3 ">
            <div class="card-header">
                Фильтры
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="entrantName">Поиск по имени абитуриента</label>
                        <input type="text" asp-for="Filters.entrantName" class="form-control" id="entrantName">
                            <div class="d-flex flex-column w-100">
                                <label for="faculties" class="form-label">Поиск по факультетам</label>
                                <select class="form-select w-100 border p-1" asp-for="Filters.faculties" id="faculties" multiple>
                                <option value="null">--</option>
                                @foreach(var faculty in Model.Faculties.Faculties)
                                {
                                    <option value=@faculty.Id>@faculty.Name</option>
                                }
                                </select>
                            </div>
                            <div>
                                <label for="sorting" class="d-block">Сортировать</label>
                            <select class="form-control w-100 border p-1" asp-for="Filters.sortingTypes" id="sorting">
                                    <option value="null" id="ChangeTimeDesc">Не указано</option>
                                    <option value="ChangeTimeDesc" id="ChangeTimeDesc">По дате последних изменений (сначала новые)</option>
                                    <option value="ChangeTimeAsc" id="ChangeTimeAsc">По дате последних изменений (сначала старые)</option>
                                </select>
                            </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label for="managerName">Поиск по имени менеджера</label>
                            <input type="text" class="form-control" asp-for="Filters.managerId" id="managerName">
                        </div>
                            <div>
                            <label for="status" class="form-label">Статус заявки</label>
                            <select class="form-control w-100 border p-1" asp-for="Filters.status" id="status">
                                <option value="Pending" id="Pending">В ожидании</option>
                                <option value="InProcess" id="InProcess">На рассмотрении</option>
                                <option value="Approved" id="Approved">Одобрена</option>
                                <option value="Rejected" id="Rejected">Отклонена</option>
                                <option value="Closed" id="CreateAsc">Закрыта</option>
                                </select>
                            </div>
                        <div>
                            <label for="programsGuid" class="form-label">Поиск по программе</label>
                            <select class="form-control w-100 border p-1" asp-for="Filters.programsGuid" id="programsGuid">
                                <option value="null">--</option>
                                @foreach (var program in Model.Programs.Programs)
                                {
                                    <option value=@program.Id>@program.Name</option>
                                }
                            </select>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <label for="hasManager" class="mb-0 ml-1">Есть менеджер</label>
                                <select asp-for="Filters.hasManager" class="form-control" id="hasManager">
                                    <option value="">Не указано</option>
                                    <option value="true">Да</option>
                                    <option value="false">Нет</option>
                                </select>
                            </div>
                            <div>
                                <label for="hasManager" class="mb-0 ml-1">Только мои заявки</label>
                                    <select class="form-control" id="hasManager">
                                        <option value="">Не указано</option>
                                        <option value="true">Да</option>
                                        <option value="false">Нет</option>
                                    </select>
                            </div>
                            <div>
                                <button class="btn btn-primary mt-3" id="apply_button">Применить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="applicationsInfo">
        @await Html.PartialAsync("_ApplicationsList", Model)
    </div>
</div>


@section Scripts {
    <script>
            $(document).ready(function () {
                $("#filtersForm").submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Applications/Applications",
                        data: $(this).serialize(),
                        success: function (response) {
                            $("#applicationsInfo").html(response);
                        },
                        error: function () {
                            alert("Произошла ошибка при загрузке заявок.");
                        }
                    });
                });
            });
    </script>
}
