@using Common.Enum
@model EntrantViewModel

<div id="profileInfo">
    @await Html.PartialAsync("_EntrantProfilePartial", Model.Profile)
</div>

<div id="passportInfo">
    @await Html.PartialAsync("_PassportPartial", Model.PassportForm)
</div>

<div id="educationDocumentInfo">
    @await Html.PartialAsync("_EducationDocumentPartial", Model.EducationDocumentForm)
</div>

<div id="programInfo">
    @await Html.PartialAsync("_ProgramsPartial", Model.ApplicationPrograms)
</div>

<style>
    .disable-inputs {
        pointer-events: none;
    }
</style>


            
    @section Scripts {
        <script>


        function updateProfileForm() {

            var form = $("#profileForm");
            var url = form.attr('action');

                $.ajax({
                type: "POST",
                url: url,
                data: $("#profileForm").serialize(),
                    success: function (response) {
                        if (response.success) {
                            $("#profileInfo").html(response.data);
                        } else {
                            $("#error-message").text(response.message);
                        }
                    },
                    error: function () {
                        $("#error-message").text("Произошла ошибка. Попробуйте снова.");
                    }
            });
        }

        function updatePassportForm() {

            var form = $("#passportForm");
            var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#passportForm").serialize(),
                    success: function (response) {
                        if (response.success) {
                            $("#passportInfo").html(response.data);
                        } else {
                            $("#error-message").text(response.message);
                        }
                    },
                    error: function () {
                        $("#error-message").text("Произошла ошибка. Попробуйте снова.");
                    }
            });
        }

        function updateEducationDocumentForm() {

            var form = $("#educationDocumentForm");
            var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                        data: $("#educationDocumentForm").serialize(),
                    success: function (response) {
                        if (response.success) {
                            $("#educationDocumentInfo").html(response.data);
                        } else {
                            $("#error-message").text(response.message);
                        }
                    },
                    error: function () {
                        $("#error-message").text("Произошла ошибка. Попробуйте снова.");
                    }
            });
        }

        function changeProgramPriority(element) {

            var form = $(element).closest("form");
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        window.location.reload();
                        $("#error-message").text(response.message);
                    }
                },
                error: function () {
                    $("#error-message").text("Произошла ошибка. Попробуйте снова.");
                }
            });
        }

        function deleteProgram(element) {

            var form = $(element).closest("form");
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        window.location.reload();
                        $("#error-message").text(response.message);
                    }
                },
                error: function () {
                    $("#error-message").text("Произошла ошибка. Попробуйте снова.");
                }
            });
        }

        @if ((!ViewBag.Roles.Contains(Roles.MAINMANAGER) && !ViewBag.Roles.Contains(Roles.ADMINISTRATOR)) && (ViewBag.UserId != ViewBag.ManagerId))
        {
            <text>
                $(document).ready(function () {
                    $('input, button, textarea, select').prop('disabled', true);
                });
            </text>
        }

    </script>
    }

